h1 {
    border-bottom:2px solid blue;
   }
   ol{
    border-right:2px solid blue;
  }

  div.float-container img{
   padding-right: 100px;
   padding-bottom: 100px;
   padding-top: 10px;
     float: left;

  }
  div.float-container{
    padding-left: 0;

  }

  div#saicon{

    padding-left: 0;
  }

  
  
    
  