h1 {
    border-bottom:2px solid brown;
   }
   ol{
    border-right:2px solid brown;
  }
@media(max-width:600px){
       #grad{
        display: block;
       }
      ol{
     border-right:none; 
     font-size: large;
     text-align: left;
     padding: 10px;
     width: 90px;
    }
