h1 {
    border-bottom:2px solid brown;
   }
   ol{
    border-right:2px solid brown;
  }
@media(max-width:600px){
   
    ol{
     border-right:none; 
     font-size: large;
     text-align: left;
     padding: 10px;
     width: 100px;
    }

    #grad div {
    padding: 10px;
    padding-left: -10px;
    
   }
    
 }
